.header {
  width: 100%;
  background-color: darkblue;
  .title {
    padding: 20px 0;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
