<div class="info">
    <div class="header">
        <div class="name">Total Viewed</div>
        
    <div class="total">{{totalVisit}}</div>
    </div>
    <div class="header">
        <div class="name">Individual Visit</div>
            <div class="visit">{{totalVisitByPerson}}</div>
    </div>
    <div class="header">
        <div class="name">Date Viewed</div>
        <div class="date">{{dateOfDeckViewed}}</div>
    </div>
    <!-- <button (click)="navigate()">ViewArticle</button> -->
</div>
